/* cyrillic-ext */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 400;
  src: local('Cousine'), 
  url(https://fonts.gstatic.com/s/cousine/v10/kbq7FPeQCXis0Edyi-YOa1KPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 700;
  src: local('Cousine Bold'), local('Cousine-Bold'), 
  url(https://fonts.gstatic.com/s/cousine/v10/4OFqQVT4CccEiwAQMKv0egsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Cousine';
  font-style: italic;
  font-weight: 400;
  src: local('Cousine Italic'), local('Cousine-Italic'), 
  url(https://fonts.gstatic.com/s/cousine/v10/svY-0AsqnhB5pNHScPRpHoX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Cousine';
  font-style: italic;
  font-weight: 700;
  src: local('Cousine Bold Italic'), local('Cousine-BoldItalic'), 
  url(https://fonts.gstatic.com/s/cousine/v10/y_AZ5Sz-FwL1lux2xLSTZQ7aC6SjiAOpAWOKfJDfVRY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
body {
  /*padding-top: 70px;*/
  padding-bottom: 20px;
  font-family: 'Cousine', Courier, monospace;
  background-color: #F2F1EF;
}
a, .navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand {
  text-decoration: none;
  color: #C0392B;
}
a:hover,
a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus.
.navbar-default.navbar-brand:hover,
.navbar-default.navbar-brand:focus {
  color: #E74C3C;
  text-decoration: none;
}
a:active {
  text-decoration: none;
  background: #E74C3C;
  color: #FFF;
}
img.header-img {
  padding: 0px 20px 20px 20px;
  margin: 0px 20px 20px 20px;
  /*width: 150px;*/
}
img.header-img:hover {
  opacity: 0.5;
}
/*nav {
padding: 5px;
}
*/
.nav > li > a {
  background-color: #FFF;
  border-bottom: #D2D7D3 solid 2px;
}
.nav > li > a:hover,
.nav > li > a:focus,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  text-decoration: none;
  background-color: #C0392B;
  color: #F2F1EF;
}
.nav > li > a:active {
  text-decoration: none;
  background-color: #E74C3C;
  color: #F2F1EF;
}
.xtra-space {
  padding-left: 5px;
  padding-right: 5px;
}
.more-xtra-space {
  padding-left: 5px;
  padding-right: 5px;
}
.white-bg {
  border-radius: 3px;
  background-color: #FFF;
  padding: 15px;
  border: #D2D7D3 solid 1px;
  border-bottom: #D2D7D3 solid 3px;
  /*z-index: -1;*/
}
.projects {
  padding: 40px;
}
.project-desc {
  margin-top: 25px;
}
.h2 {
  color: #96281B;
  /*margin-top: 50px;*/
}
h1 {
  color: #96281B;
}
/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 768px) {
  .sidebar {
    /*position: fixed;*/
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    background-color: #FFF;
  }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .white-bg {
    border-radius: 3px;
    background-color: #FFF;
    /*padding: 40px;*/
    border: #D2D7D3 solid 1px;
    border-bottom: #D2D7D3 solid 3px;
    /*z-index: -1;*/
  }
  .xtra-space {
    padding-left: 15px;
    padding-right: 15px;
  }
  .more-xtra-space {
    padding-left: 40px;
    padding-right: 40px;
  }
  img.header-img {
    padding: 0px 20px 20px 20px;
    margin: 0px 20px 20px 20px;
    width: 225px;
  }
}