body {
  /*padding-top: 70px;*/
  padding-bottom: 20px;
  font-family: 'Oxygen';
  background-color: rgba(186, 206, 199, 0.75);
}
a, .navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand {
  text-decoration: none;
  color: #C0392B;
  font-weight: bold;
}
a:hover,
a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus.
.navbar-default.navbar-brand:hover,
.navbar-default.navbar-brand:focus {
  color: #E74C3C;
  text-decoration: none;
}
a:active {
  text-decoration: none;
  background: #E74C3C;
  color: #FFF;
}
img.header-img {
  padding: 0px 20px 20px 20px;
  margin: 0px 20px 20px 20px;
  /*width: 150px;*/
}
img.header-img:hover {
  opacity: 0.5;
}
/*nav {
padding: 5px;
}
*/
.nav > li > a {
  /*background-color: #FFF;*/
  border-bottom: #D2D7D3 solid 2px;
}
.nav > li > a:hover,
.nav > li > a:focus,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  text-decoration: none;
  background-color: #C0392B;
  color: #F2F1EF;
}
.nav > li > a:active {
  text-decoration: none;
  background-color: #E74C3C;
  color: #F2F1EF;
}
.xtra-space {
  padding-left: 5px;
  padding-right: 5px;
}
.more-xtra-space {
  padding-left: 5px;
  padding-right: 5px;
}
.white-bg {
  border-radius: 3px;
  background-color: rgba(1,1,1, 0.1);
  padding: 15px;
  /*border: #E74C3C solid 1px;*/
  /*border-bottom: transparent 3px;*/
  margin-bottom: 5px;
  /*z-index: -1;*/
}
.red-box {

}
.projects {
  padding: 40px;
}
.project-desc {
  margin-top: 25px;
}
.h2 {
  color: #96281B;
  /*margin-top: 50px;*/
}
h1 {
  color: #96281B;
  /*border:solid 3px white;*/
}
/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 768px) {
  .sidebar {
    /*position: fixed;*/
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    /*background-color: #FFF;*/
    /*border: #E74C3C solid 1px;*/
  }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .white-bg {
    /*border-radius: 3px;*/
    background-color: rgba(1,1,1,0.1);
    padding: 40px;
    /*border: #E74C3C solid 1px;*/
    /*z-index: -1;*/
  }
  .xtra-space {
    padding-left: 15px;
    padding-right: 15px;
  }
  .more-xtra-space {
    padding-left: 40px;
    padding-right: 40px;
  }
  img.header-img {
    padding: 0px 20px 20px 20px;
    margin: 0px 10px 10px 10px;
    width: 225px;
  }
}